
@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}
html{
    font-family:var(--body-font);
    font-size:14px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

.App {
    text-align: center;
  }
body {
  background: rgb(219, 218, 218);
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nv{
    background-color: var(--main-font-color-dark);
}

.title{
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    letter-spacing: 2rem;
    font-size: 2rem;
}


ul {
  list-style: none;
  display: flex;
}

.link{
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #eedddd;
}
h1 {
  color: #242222;
  margin-bottom: 0.5rem;
font-family: var(--main-font);
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
    background-color: #ebebeb;
    max-width: 500px;
    height: auto;
    transition: .3s ease-in-out;
    flex-wrap: wrap;
}
.items:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
}

.item1{
    width: 50%;
    height: 100%;
    padding: 10px;
}

/* hero section */

.hero{
    height: 40vh;
    position: relative;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/417054/pexels-photo-417054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero::before{
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.205);
}
.hero-clipped{
    height: inherit;
    background-color: #ffffff; 
    top: 0;
    width: 60%;
    transform-origin: right;
    right: 0;
    z-index: 10;
    position: absolute;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.hero-textbox{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: center;
    transform: translate(-50% -50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    list-style: 1.5;
    color: rgb(228, 228, 218);
    padding: 1rem;
    z-index: 20;
}

.main-heading{
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1rem;
    color: var(--secondary-font-color);
}
.head{
   font-family: var(--main-font);
   color: var(--secondary-font-color);
}

.sub-heading{
    font-size: 1.4rem;
    font-weight: 300;
    color: #000000;
    letter-spacing: .5rem;
    text-align: center;
}

.cta-btn{
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: crimson;
    padding: 1rem 2.5rem;
    margin-top: .5rem;
    border-radius: .4rem;
    border-radius: 3px 3px 1px rgba(0,0,0.3);
    position: relative;
}

.cta-btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}
.about{
    margin: 20px 0;
    padding: 10px;
    color: var(--secondary-font-color);
    font-family: var(--main-font);
    color: crimson;
    letter-spacing: 4px;
}
.end{
   padding: 10px;
    background-color: var(--main-font-color-dark);
    font-family: var(--main-font);
    display: flex;
    justify-content: space-around;
    color: #ebebeb;
    height: 60px;
   align-items: center;
   /* position: fixed; */
   margin-top: 20px;
   width: 100%;
   bottom: 0;
}
.main{
    padding: 30px 0;
    width: 100%;
}
.main input{
    padding: 7px 7px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}
.btn{
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    background-color: crimson;
    margin: 4px 0;
    border-radius: 5px;
}

.btn a{
    text-decoration: none;
    color: #eedddd;

}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
  display: flex;
  justify-items: center;
  width: 100%;
  align-items: center;
}
.btn:hover{
    background-color: #3d3c3c;
}
select{
    margin: 0 4px;
    padding: 4px 8px;
    border: none;
}
.item1 img{
    width: 100%;
    height: 100%; 
    margin: 8px;
    padding: 5px;
}
.item2{
    width: 50%;
    height: 100%;  
    padding: 10px;
}

 /* details */


.items-details{
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: auto;
    /* background-color: #d6d6d6; */
    transition: .3s ease-in-out;
    flex-wrap: wrap;
}
.show{
    color: #ebebeb;
    padding: 6px;
}
.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.details-body{
    background-color: #555555;
}
.item-imgInner > img {
    width: 100%;
    height: 100%; 
    margin: 8px;
    padding: 10px;
}
.item-details{
    width: 100%;
    height: 100%;  
    padding: 10px;
}
.para{
    padding: 20px 10px;
    margin: 10px 0 ;
    background-color: rgb(214, 214, 214);
}

.developers{
padding-top: 50px;
padding-bottom: 50px;
background-image: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 60vh;
background-attachment: fixed;
margin: 20px 10px;
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}
.developers::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: linear-gradient(45deg, rgba(167, 25, 25, 0.418), rgb(13, 13, 110));
}
.dev-content{
    z-index: 1000;
    padding: 25px;
    background-color: rgba(243, 245, 240, 0.397);
    max-width: 80%;
    margin: 0 auto;
    color: #000000;
}
.dev-content h3{
    padding: 6px;
    color: var(--body-font-color);
    font-size: 34px;
    color: #ececec;
    letter-spacing: 6px;
    font-family: var(--secondary-font);
}
.btn-span{
    margin:10px 0 ;
}

.skills{
margin: 20px auto;
background-color: #c5c5c4;
display: flex;
width: 100%;
justify-content: space-around;
flex-wrap: wrap;
align-items: center;
}

.item3{
    background-color: #3d3d3c;
    padding: 15px 8px;
    display: flex;
    margin: 6px auto;
    color: rgb(219, 218, 218);
    font-family: var(--main-font);
}

.dev-content1 {
    max-width: 400px;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 10px;
}
.img1{
    position: relative;
    width: 100%;
}

.dev-content2{
    max-width: 400px;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width:768px){
    .main-heading{
        font-size: 1.5rem;
    }
    .sub-heading{
        font-size: 1.2rem;
    }
    .cta-btn{
        display: none;
    }
    .dev-content h3{
        font-size: 16px;
    }
  
}

@media screen and (max-width:500px){
    .main-heading{
        font-size: 1.1rem;
    }
      .sub-heading{
        font-size: 1rem;
    }

    .cta-btn{
        padding: 1rem 2rem;
        margin: 2rem 0;
    }
    .title{
        font-size: 14px;
        letter-spacing: 4px;
    }

}




@media screen and (max-width:1024px){
    .items{
        flex-direction: column;
    }
    .item1 {
        width: 90%;
        margin: 10px 5px;
    }
    .item2{
        width: 90%;
        margin: 10px 5px; 
    }

    .item-imgInner {
        width: 90%;
        margin: 10px 5px;
    }
    .item-details{
        width: 100%;
        margin: 10px 5px; 
    }
}